body {
    background: linear-gradient(30deg, rgba(241,107,64,1), rgba(241,107,64,0) 90%),
                linear-gradient(320deg, rgb(214,200,80,1), rgb(214,200,80,0) 50%),
                linear-gradient(180deg, rgb(203,103,133,1), rgb(203,103,133,0) 100%);
    margin: 0px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: white;
    -webkit-transition: all 4s linear;
    -moz-transition: all 4s linear;
    -o-transition: all 4s linear;
    transition: all 4s linear;
}

    .authorization-bg {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: rgba(7,7,7);
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/*body.main {
    background: linear-gradient(30deg, rgba(241,107,64,1), rgba(241,107,64,0) 90%),
    linear-gradient(320deg, rgb(214,200,80,1), rgb(214,200,80,0) 50%),
    linear-gradient(180deg, rgb(203,103,133,1), rgb(203,103,133,0) 100%);
}*/

header {
    padding: 25px 100px;

}

h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
}

h2#current-time, .hello {
    font-family: "Oswald", "Arial", sans-serif;
    text-align: center;
}

.hello {
    font-size: 4rem;
}

h3 {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

hr {
    border-top: 1px solid white;
    border-bottom: none;
    opacity: 0.3;
}

.hr-header {
    margin: 0px 100px;
}

img {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(282deg) brightness(102%) contrast(101%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 75px - 114px);
}

.authorization {
    display: block;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.authorization-content {
    padding: 2rem;
}

.main-info {
    display: none;
    opacity: 0;
    width: 800px;
    transition: opacity 0.2s linear;
}

.location-date, .sunrise-sunset {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0rem;
}

.sunrise-sunset > div:first-child {
    display: flex;
    gap: 30px;
}

.location-date > div:first-child {
    display: flex;
    gap: 30px;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ld-icon {
    height: 18px;
}

#current-time {
    font-size: 142px;
    text-shadow: -5px 5px 20px rgba(0,0,0, 0.25);
}

footer {
    font-size: 11px;
    padding: 25px 0px 20px 0px;
    text-align: center;
    text-transform: uppercase;
    background:rgba(255,255,255,0.1);
}

footer img {
    width: 30px;
    height: 30px;
}

.location {
    display: flex;
    gap: 14px;
}

.location div {
    flex: 1;
}


input,
label {
    appearance: none;
    color: white;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 300;
}

input {
    border: solid 1px white;
    background-color: transparent;
    box-sizing: border-box;
    padding: 8px 5px;
}

input.auth, button.auth {
    width: 100%;
}

button.auth {
    background-color: white;
    color: none;
    border: none;
    margin: 14px 0px;
    padding: 12px 4px;
    text-transform: uppercase;
    font-weight: 700;
    mix-blend-mode: screen;
}

button.auth:hover {
    background-color: gold;
}

label.auth {
    font-weight: 500;
    font-size: 0.8rem;
}

span.auth {
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0px 4px;
    background-color: white;
    color: black;
}

div.auth {
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
}

input.auth {
    margin-bottom: 10px;
}

input::placeholder {
    color: rgba(255,255,255,0.5);
    font-size: 0.7rem;
    text-transform: none;
}

input:invalid {
    outline: solid 1px red;
    border: solid 1px red;
}

input:focus-visible {
    border-radius: 0px;
    border: solid 1px blue;
    outline: solid 1px blue;
}

#location {
    width: 250px;
}