body {
    background: linear-gradient(30deg, rgba(241,107,64,1), rgba(241,107,64,0) 90%),
                linear-gradient(320deg, rgb(214,200,80,1), rgb(214,200,80,0) 50%),
                linear-gradient(180deg, rgb(203,103,133,1), rgb(203,103,133,0) 100%);
    margin: 0px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
}

header {
    padding: 25px 100px;

}

h1 {
    font-size: 20px;
    font-weight: 700;
    text-transform: none;
    margin: 0px;
}

h2#current-time {
    font-family: "Oswald", "Arial", sans-serif;
    text-align: center;
}

hr {
    border-top: 1px solid white;
    border-bottom: none;
    margin: 0px 100px;
    opacity: 0.3;
}

img {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(282deg) brightness(102%) contrast(101%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 75px - 114px);
}

.main-info {
    width: 800px;
}

.location-date, .sunrise-sunset {
    display: flex;
    justify-content: space-between;
}

.sunrise-sunset > div:first-child {
    display: flex;
    gap: 30px;
}

.location-date > div:first-child {
    display: flex;
    gap: 30px;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ld-icon {
    height: 18px;
}

#current-time {
    font-size: 142px;
    text-shadow: -5px 5px 20px rgba(0,0,0, 0.25);
}

footer {
    font-size: 11px;
    padding: 25px 0px 20px 0px;
    text-align: center;
    text-transform: uppercase;
    background:rgba(255,255,255,0.1);
}

footer img {
    width: 30px;
    height: 30px;
}